html,
body {
    margin: 0px;
   padding: 0px;
}
.wrap{
    width: 1170px;
     margin: 0 auto;
}
.clearfix{
    clear: both;
}
.content .works .intro .title{
    text-align: center;
      font-size: 25px;
    margin-top: 62px;
}
.content .works .intro .title h2{
    color: #339966;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}
.content .works .intro .menu{
    text-align: center;
     
}
.content .works .intro .menu ul{
        margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
        padding-top: 28px;   
   
}
.content .works .intro .menu li {
display: inline;
padding: 15px;

}
.content .works .intro .menu li a {
text-decoration: none;
color: black;
    font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;

}
.content .works .intro .menu li a:hover{
    color: #44B272;
}
.pictures{
    padding-top: 2px;
    padding-left: 26px;
}
img{
        width: 30%;
    padding: 15px;
}
.newslater{
    width: 100%;
    background:#f5f5f5;
    height: 20%;
}
.write{
    margin-top: 50px;
    float: left;
    width: 35%;
    margin-left: 90px;
    
}


.newslater .write h2{
        margin-top: 0px;
    font-size: 22px;
    margin-left: 41px;
        font-weight: 700;
    color: #339966;
    font-family: 'Lato', sans-serif;
}
.newslater .write p{
    margin-left: 40px;
}
.newslater .icon-mail{
    float: right;
    margin-top: 70px;
    width: 50%;
    
}
input#mc-email {
    padding: 5px 10px;
    background: #fff;
    height: 35px;
    width: 60%;
}
.team .about{
        margin-top: 40px;
    padding-top: 20px;
}
.team .about h2{
    text-align: center;
        color: #339966;
    font-family: 'Lato', sans-serif;
}
.members-img{
    width: 100%;

}
.member-image{
    width: 25%;
    float: left;
}
.member-image img{
    width: 100%;
}
.subtitle{

    font-size: 13px;
    text-transform: uppercase;
}
h3.subtitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 6px;
    color: inherit;
    margin-top: 0;
    padding-top: 20px;
}
.member-image p{
    text-align: center;

}